**

!.newsboat/
!.newsboat/config
!.newsboat/urls
!.config/
!.config/i3/
!.config/i3/config
!.config/nvim/
!.config/nvim/init.vim
!.config/zathura/
!.config/zathura/zathurarc
!*.gitignore
!*.Xresources
!*.bashrc
!*.xinitrc
!*.bash_profile

